#txt1{
    width: 700px;
    height: 30px;
    font-size:20px;
}

#txt4{
    width: 500px;
}

#txt5{
    width: 1000px;
    height: 100px;
}

#txt6{
    width: 500px;
}

#txt11{
    width: 1000px;
    height: 100px;
}

#txt12{
    width: 1000px;
    height: 100px;
}

.btn{
    width: 80px;
    height: 40px; 
}